# Syntax: <package-name>==<version>
# pandas==2.2.1
# numpy==1.26.4

python-dotenv==1.1.0
requests==2.32.3
transformers==4.51.3
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
tweepy==4.15.0
nltk==3.9.1
emoji==2.14.1
python-dateutil==2.9.0.post0
pandas==2.2.3
plotly==6.0.1